#editor-tools {
	padding:0;
}

/* -- Editor tools --                                */
/* The draggable options on the side bar to the left */
.editor-tool h3 {
	font-size:16px;
	margin:0;
	font-weight:bold;
}

.editor-tool .drag-handle {
	background:url("../img/icons/drag-handle-vertical.png") no-repeat center center;
	display:block;
	height:30px;
	width:20px;
	float:left;
	cursor:move;
}

.last-saved {
	color:#888;
	font-size:13px;
}

#save-button {
	text-align:right;
	padding:20px;
}

/* -- End of editor tools styles. -- */

/* Modules */
.module {
	position:relative;
}

.module.selected .module-info {
	padding-top:0; 
}

.module-style-control {
	position:absolute;
	top:0;
	right:0;
}

.module-style-control .btn-group .dropdown-toggle {
	padding:5px 15px 10px 15px;
	background-image: linear-gradient(to bottom,#fff 0,#e8e8e8 100%);
	border-left:1px solid #ddd;	
}

.module-style-control .btn-group.open .dropdown-toggle {
	background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);	
}

.module.selected .module-style-control {
	display:none;
}

.module-info input {
	margin-bottom:10px;
	font-size:16px;
}

.module .drag-handle {
	height:20px;
	background:url("../img/icons/drag-handle.png") no-repeat center center;
	cursor:move;
}

.module-info .preview {
	display:block;
}

.module-info .controls {
	display:none;
}

.module.selected .module-info .preview {
	display:none;
}

.module.selected .module-info .controls {
	display:block;
}

.module.dragging .module-questions,
.module.dragging .module-info .controls {
	display:none;
}

.module.dragging .module-info {
	background:none;
	padding:10px;
	border-bottom:none;
}

.module.dragging .module-info .preview {
	display:block;
}

/* -- end of Modules -- */

/* Questions */

.module .question:last-child{
	margin-bottom:0;
}

.question {
	padding:10px;
	border-radius:5px;
	margin-bottom:15px;
	border:1px dotted #fff;
	position:relative;
}

.question:hover {
	border:1px dotted #999;
}

.module-questions {
	padding:10px;
}

/* if not selected nor dragging, show the preview */
.question .controls {
	display:none;
	position:relative;
}

.question.selected {
	padding:0 10px;
}

.question.selected .controls {
	display:block;
}

/* when selected show the controls */
.question.selected .preview {
	display:none;
}

.question.selected {
	background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
	border:1px solid #ccc;
}

/* when dragging, show the preview version */
.question.selected.ui-sortable-helper .preview {
	display:block;
}

.question.selected.ui-sortable-helper .controls {
	display:none;
}

.question.selected.ui-sortable-helper {	
	padding:10px;
}

.question .drag-handle.bottom {
	background:none;
	clear:both;
	height:5px;
	cursor:move;
}

.question .controls .col-md-2 .checkbox {
	padding-right:5px;
}

.question .controls .col-md-2 .checkbox {
	margin-top:0;
}

.question .controls .col-md-2 .checkbox input {
	margin:0;
	margin-left:20px;	
}

.question .controls .col-md-2 label {
	font-size:12px;
}

.question .controls .col-md-2 .checkbox input,
.question .controls .col-md-2 label {
	float:right;
}

.question .glyphicon {
	display:none;
	float:left;
	margin-right:10px;
}

.question .statuses {
	position:absolute;
	top:10px; 
	right:0;
}

.question.concealed .concealed-icon {
	display:block;
}

.question.required .required-icon {
	display:block;
}
/* -- Questions -- */

/* UI Sortable */
.question-placeholder {
	border:1px dotted #ccc;
	border-radius:5px;	
	height:60px;
}

.question-placeholder.fobu-draggable {
	width:500px;
	height:100px;
}

/* -- end of UI sortable -- */

/* Bootstrap rewrites */

.form-group {
	margin-bottom:0;
}

.question .controls .col {
	padding:0;
}

/* -- end of boostrap rewrites -- */

/* Question types */
.question-date select {
	width:100px;
	margin-right:10px;
	float:left;
}

.question-date select:last-child {
	margin-right:0;
}

.module-style-control .dropdown-toggle {
	cursor:pointer;
}

.module-style-control .dropdown-menu {
	left:auto;
	top:80%;
	right:-10px;
}

.module-style-control .btn-group.open .dropdown-toggle {
	box-shadow:0 0 0 0;
}
/* -- end of question types --*/