#editor-tools {
	border-right:1px solid #ccc;
	padding:0;
}

#editor-canvas {
	min-height:500px;
}

/* -- Editor tools --                                */
/* The draggable options on the side bar to the left */

.editor-tool {
	position:relative;
	border-bottom:1px solid #ccc;
	padding:10px;
}

.editor-tool h3 {
	font-size:16px;
	margin:0;
	font-weight:bold;
}

.editor-tool .drag-handle {
	background:url("../img/icons/drag-handle-vertical.png") no-repeat center center;
	display:block;
	height:30px;
	width:20px;
	float:left;
	cursor:move;
}

/* -- End of editor tools styles. -- */

/* Modules */

.module {
	margin-bottom:10px;
	overflow:hidden;
	border:1px solid #ccc;
	border-radius:5px;
	padding-bottom:20px;
}

.module-info {
	padding:10px;	
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}

.module-info h1 {
	margin:0 0 5px 0;
	font-size:16px;
	font-weight:bold;
}

.module-info input {
	margin-bottom:10px;
	font-weight:bold;
}

.module.selected .module-info {
	background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);	
}

.module-info .preview {
	display:block;
}

.module-info .controls {
	display:none;
}

.module.selected .module-info .preview {
	display:none;
}

.module.selected .module-info .controls {
	display:block;
}

/* -- end of Modules -- */

/* Questions */

.module .question:last-child{
	margin-bottom:0;
}

.question {
	padding:0 10px;
	border-radius:5px;
	margin-bottom:10px;
}

.module-questions {
	padding:10px;
}

/* if not selected nor dragging, show the preview */
.question .controls {
	display:none;
}

.question.selected .controls {
	display:block;
}

/* when selected show the controls */
.question.selected .preview {
	display:none;
}

.question.selected {
	background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
	border:1px solid #ccc;
}

/* when dragging, show the preview version */
.question.selected.ui-sortable-helper .preview {
	display:block;
}

.question.selected.ui-sortable-helper .controls {
	display:none;
}

.question.selected.ui-sortable-helper {	
	padding:10px;
}

.question .drag-handle {
	height:20px;
	background:url("../img/icons/drag-handle.png") no-repeat center center;
	cursor:move;
}

.question .drag-handle.bottom {
	background:none;
	height:5px;
	cursor:move;
}

/* -- Questions -- */

/* UI Sortable */
.question-placeholder {
	border:1px dotted #ccc;
	border-radius:5px;	
	height:60px;
}

.question-placeholder.fobu-draggable {
	width:500px;
	height:100px;
}

/* -- end of UI sortable -- */

/* Bootstrap rewrites */

.form-group {
	margin-bottom:0;
}

/* -- end of boostrap rewrites -- */

/* Question types */
.question-date select {
	width:100px;
	margin-right:10px;
	float:left;
}

.question-date select:last-child {
	margin-right:0;
}
/* -- end of question types --*/