<div class="preview">
	<label class="control-label">{[{question.title}]}</label>
	<p>{[{question.text}]}</p>
	<div class="statuses">
		<span class="concealed-icon glyphicon glyphicon-eye-close"></span>
	</div>
</div>
<div class="controls">
    <div class="drag-handle"></div>
    <div class="col col-md-10">
		<p><input type="text" ng-model="question.title" class="form-control" /></p>
		<p>
			<textarea rows="3" cols="25" msd-elastic ng-model="question.text" class="form-control" placeholder="Descripción.."></textarea>
		</p>
	</div>
	<div class="col col-md-2">
		<div class="checkbox">
		  <label>
		    <input type="checkbox" ng-model="question.hidden">
			Oculto
		  </label>
		</div>
	</div>
    <div class="drag-handle bottom"></div>
</div>
