<div class="form-group">
	<div class="preview">
		<label class="control-label">{[{question.title}]}</label>
		<p class="help-block">{[{question.help}]}</p>
		<input type="number" class="form-control"/>
	</div>
	<div class="controls">
        <span class="drag-handle"></span>
		<p><input type="text" ng-model="question.title" class="form-control" /></p>
		<p><input type="text" ng-model="question.help" class="form-control" placeholder="Texto de ayuda." /></p>
        <span class="drag-handle bottom"></span>
	</div>	
</div>