<div class="form-group">
	<div class="preview">
		<label class="control-label">{[{question.title}]}</label>
		<p class="help-block">{[{question.help}]}</p>
		<select class="form-control">
			<option disabled selected>Seleccione una opción</option>
			<option ng-repeat="option in question.options" value="{[{$index}]}">{[{option.title}]}</option>
		</select>
	</div>
	<div class="controls">
	    <div class="drag-handle"></div>
		<p><input type="text" ng-model="question.title" class="form-control" /></p>
		<p><input type="text" ng-model="question.help" class="form-control" placeholder="Texto de ayuda." /></p>
		<div class="clearfix radio" ng-repeat="option in question.options">
		  <label>
		    <input type="text" ng-model="option.title" class="pull-left form-control"/>
		    <span class="pull-left close-icon" ng-click="removeSelectOption($parent.$index,$index); $event.stopPropagation();"></span>
		  </label>
		</div>		
		<div class="clearfix radio">
		  <label>
		    <input type="text" placeholder="Digita el nombre y presionar la tecla Enter." ng-keypress="$event.which == 13 && addSelectOption($parent.$index,$index,$event.currentTarget)" class="pull-left form-control"/>
		  </label>
		</div>		
	    <div class="drag-handle"></div>
	</div>
</div>